<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- eberlitz -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8714853312947679"
      data-ad-slot="9717718983"
      data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>


    {% include footer.html %}

    </body>
</html>